h1 {
    margin-top: -15px;
    margin-bottom: 20px;
    text-align: center;
}

h6 {
    font-style: italic;
    font-weight: bold;
}

hr {
    border-color: black;
}

#radio1 {
    padding-right: 3px;
}

#radio2 {
    padding-right: 3px;
}

#main-jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .9;
}